## Bitnami Drupal image version
## ref: https://hub.docker.com/_/drupal/
##
replicaCount: 1
image:
  repository: drupal
  tag: 8-fpm

## Specify a imagePullPolicy
## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
##
imagePullPolicy: IfNotPresent

## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    cpu: 25m
    memory: 128Mi

service:
  internalPort: 9000
